<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="Artikel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <title><%= sat.Horror.Titel %></title>
</head>
<body>
  <%- include("navbar") %>




<article id="article1box" style="padding: 3%;">
     
    <div class="ArtikelÜ1">
        <h5 id="titel" ><%= sat.Horror.Titel %>  </h5>
        <h7 class="beschreibung"><%=sat.Horror.Beschreibung %></h7>
       <section id="bes"> <p><%=sat.Horror.Verfasser %></p> <p><%=sat.Horror.Datum %></p> </section>
      </div>
<% for(let x of sat.Horror.Manhwas) { %>
      
      <div class="card"  style="border: 0px; ">
        <section id="head"> <h1 id="nummer"><%= x.Nummer %></h1>   <h5 class="card-title" > <%= x.Titel %> </h5></section> 
         <img class="card-img-top"      src="<%= x.Cover %>" alt="Manhwa Cover von <%= x.Titel %>">
        
         <div class="card-body">
          <div class="dis" > Status: <%= x.status %></div>
          <p class="text-wrap "><%= x.Beschriftung %></p>
          <a   onclick="klo();" href="<%= x.Link %>">Link zum Lesen</a>
          
         </div>
       
       <% } %>

      
       
      

</article>







      <div class="my-5" style="margin-bottom: 0rem!important; padding: 0!important;">

        <footer class="text-center text-white" style="background-color: #f1f1f1; width: 100%;">
        <!-- Grid container -->
        <div class="container pt-4">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://twitter.com/ManhwaDEU"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-twitter"></i
            ></a>
      
            
            <!-- Instagram -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://www.instagram.com/manhwadeu/?next=%2F"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-instagram"></i
            ></a>
      
            
           
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          @email:
          <a class="text-dark" >manhwadeu@yahoo.com</a>
        </div>
        <!-- Copyright -->
      </footer>
        
      </div>
      <!-- End of .container -->


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
      <script>
   
function klo(){
  console.log("hi")
}
 
      </script>
</body>
</html>